@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css";
body
{
    background-color: #8F9779;
    margin: 0px;
}

.main .sidepanel
{
    background-image: linear-gradient(to top right,#1b310f,#7ebc59);
    width: 20vw;
    height: 791px;
    position: fixed;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 0px rgb(255,255,255),
             0.5em 0.5em 1em rgba(0,0,0,0.5);
}

.main nav
{
    position: fixed;
    background-image: linear-gradient(to top right,#7ebc59,#35611f);
    height: 6vw;
    width: 80vw;
    margin-left: 20vw;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 0px rgb(255,255,255),
             0.5em 0.5em 1em rgba(0,0,0,0.5);
}
/* book icon */
.main .nav .logo i
{
    position: absolute;
    font-size: 3.5vw;
    margin-left: 2vw;
    margin-top: 1.4vw;
    color: #202020;
    -webkit-text-stroke: 0.5px #979797b9;
}

/* library heading */
.main .nav .heading
{
    position: absolute;
    margin-left: 7vw;
    margin-top: 0.5vw;
}
.main .nav .heading a
{
    font-family: 'Dela Gothic One', cursive;
    font-size: 3.3vw;
    text-decoration: none;
    color: #202020;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 20px;
    -webkit-text-stroke: 0.5px #979797b9;
}
.main .nav .heading a:hover
{
    border:1px solid #202020;
}

/* Search bar */
.main .nav .searchbar
{
    position: absolute;
    margin-left: 35vw;
    margin-top: 2vw;
}
.main .nav .searchbar input
{
    width: 20vw;
    height: 2vw;
    font-family: 'Jura', sans-serif;
    background: none;
    border-radius: 15px;
    outline: none;
    font-size: 1.2vw;
    padding-left: 1vw;
    color: #202020;
    border: 1px solid #202020;
}
.main .nav .searchbar input::placeholder
{
    color: #202020;
}
.main .nav .searchbar input:focus
{
    border-color: #FFFFFF;
    color: #FFFFFF;
}
/* Notification icon */
.main .nav .notification
{
    position: absolute;
    margin-left: 76vw;
    margin-top: 2vw;
}
.main .nav .notification i
{
    color: #202020;
    font-size: 1.5vw;
    padding: 0.5vw;
    border-radius: 25px;
}
.main .nav .notification i:hover
{
    border:1px solid #202020;
}

/* sidepanel */
.sidepanel .menu
{
    margin-top: 2vw;
}
.sidepanel a
{
    position: absolute;
    padding-bottom: 4px;
    width: 19.5vw;
    text-decoration: none;
    font-family: 'Jura', sans-serif;
    font-weight: bold;
    font-size: 1.6vw;
    color: #202020;
}
.sidepanel a:hover
{
    border-left: 0.5vw solid #202020;
    outline: 1px solid #202020;
    transition-duration: 0.3s;
}

.sidepanel .home a
{
    margin-top: 14vw;
}
.sidepanel i
{
    padding-right: 10px;
    padding-left: 1.5vw;
    padding-top: 5px;
}

.sidepanel .profile a
{
    margin-top: 17.5vw;
}

.sidepanel .departments a
{
    margin-top: 21vw;
}

.sidepanel .books a
{
    margin-top: 24.5vw;
}
.sidepanel .issue-books a
{
    margin-top: 28vw;
}
.sidepanel .issued-books a
{
    margin-top: 31.5vw;
}
.sidepanel .return-books a
{
    margin-top: 35vw;
}

.sidepanel .logout a
{
    margin-top: 38.5vw;
}

/* profile modal */
.mymodal
{
    display: none;    
    padding-top: 100px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(6px);
    position: fixed;
}
.modalcontent
{
    background-color: #202020;
    margin-left: 35%;
    width: 25vw;
    border-radius: 20px;
    padding:30px;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 0px rgb(255,255,255),
             0.5em 0.8em 1em rgba(0,0,0,0.5);
}
.modalcontent .myprof
{
    text-align: center;
    color: #8F9779;
    font-family: 'Dela Gothic One', cursive;
    font-weight: bold;
    font-size: 2vw;
    margin-bottom: 2vw;
    text-decoration: underline;
}
.modalcontent .label
{
    font-family: 'Playfair Display', serif;
    color: rgb(199, 197, 197);
    font-size: 1.3vw;
    text-transform: uppercase;
}
.modalcontent .userval
{
    margin-bottom: 20px;
    letter-spacing: 2px;
}
.modalcontent .userval input
{
    color: #FFDF6C;
    font-family: 'Playfair Display', serif;
    font-size: 1.2vw;
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(88, 88, 88);
    width: 25vw;
}
.modalcontent .userval select
{
    color: #FFDF6C;
    font-family: 'Playfair Display', serif;
    font-size: 1.2vw;
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(88, 88, 88);
    width: 25vw;
}
.modalcontent .userval option
{
    color: #FFDF6C;
    background: #202020;
}
.modalcontent .close
{
    color: rgb(158, 158, 158);
    font-size: 1.5vw;
    position: absolute;
    margin-left: 24vw;
    margin-top: -10px;
    cursor: pointer;
}
.modalcontent .update
{
    text-align: center;
    margin-top: 1vw;
}

.modalcontent .update input
{
    background: none;
    outline: none;
    border: none;
    font-family: 'Jura', sans-serif;
    color: #202020;
    font-weight: bold;
    font-size: 1.5vw;
    background-color: #7ebc59;
    border-radius: 10px;
    padding: 3px 25px 6px 25px;
}
.modalcontent .update input:hover
{
    background-color: rgba(126,188,89,0.9);
}
.modalcontent .update input:active
{
    transform: translateY(1px);
}

.modalcontent .note
{
    text-align: center;
    margin-bottom: -2vw;
}
.modalcontent .note p
{
    font-size: 1vw;
    color: rgb(199, 197, 197);
}

.profile-pic-div
{
    height: 7vw;
    width: 7vw;
    position: absolute;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid grey;
    text-align: center;
    margin-left: 6vw;
    margin-top: 6vw;
}

.profile-pic-div #photo
{
    height: 100%;
    width: 100%;
}

#file
{
    display: none;
}

#uploadBtn
{
    height: 2vw;
    width: 8vw;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: wheat;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 10px;
    cursor: pointer;
    display: none;
}

.showname
{
    position: absolute;
    margin-left: 2vw;
    margin-top: 9vw;
}
.showname p
{
    font-family: 'Jura', sans-serif;
    font-weight: bold;
    font-size: 1.2vw;
    color: #FFFFFF;
    text-transform: capitalize;
}