@import "layout.css";

.container
{
    position: absolute;
    margin-top: 10vw;
    margin-left: 28vw;
    width: 63vw;
    padding-bottom: 2vw;
    background-color: #202020;
    border-radius: 10px;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 0px rgb(255,255,255),
             0.5em 0.5em 1em rgba(0,0,0,0.5);
}

.container .inputval
{
    text-align: center;
    margin-top: 2vw;
}
.container .inputval .book_id
{
    height: 1.8vw;
    width: 10vw;
    border-radius: 10px;
    border: 1px solid #3b7031;
    outline: none;
    background: none;
    padding-left: 1vw;
    color: #FFFFFF;
    font-size: 1vw;
    font-family: 'Jura', sans-serif;
}

.container .inputval .searchBtn
{
    background-color: #3b7031;
    height: 1.8vw;
    width: 5vw;
    border: none;
    border-radius: 5px;
    outline: none;
    color: #FFFFFF;
    font-family: 'Jura', sans-serif;
    font-size: 1vw;
}
.container .inputval .searchBtn:hover
{
    background-color: #3f8531;
}
.container .inputval .searchBtn:active
{
transform: translateY(1px);
}
.removebooktable
{
    margin-top: 2vw;
}
.removebooktable label
{
    position: absolute;
    color: whitesmoke;
    font-family: 'Jura', sans-serif;
    font-weight: bold;
    font-size: 1.5vw;
    margin-left: 7vw;
    border: 1px solid rgb(100, 99, 99);
    height: 2.14vw;
    width: 16vw;
    padding-left: 2vw;
}
.removebooktable input
{
    color: #FFDF6C;
    font-family: 'Playfair Display', serif;
    background: none;
    border: 1px solid rgb(100, 99, 99);
    height: 2vw;
    font-size: 1.2vw;
    position: relative;
    margin-left: 25.1vw;
    width: 25vw;
    padding-left: 2vw;
    outline: none;
}
.removebooktable .issue_btn
{
    padding-bottom: 2vw;
}
.removebooktable .issue_btn .issueBtn
{
    margin-left: 22vw;
    margin-top: 1.5vw;
    width: 15vw;
    height: 3vw;
    padding-right: 2vw;
    background-color: #70aa4f;
    border-radius: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'Jura', sans-serif;
    font-weight: bold;
}
.removebooktable .issue_btn .issueBtn:hover
{
    background-color: #51a041;
}
.removebooktable .issue_btn .issueBtn:active
{
    transform: translateY(2px);
}

.container .details 
{
    border: 1px solid rgb(75, 74, 74);
    margin-top: 2vw;
    margin-left: 2vw;
    width: 59vw;
}
.container .details .heading
{
    height: 2vw;
    border-bottom: 1px solid rgb(75, 74, 74);
}
.container .details p
{
    position: relative;
    margin-top: 0.5vw;
    color: #FFFFFF;
    font-family: 'Jura', sans-serif;
    font-size: 1.2vw;
    padding-left: 2vw;
}
